    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>ToDoアプリ</title>
</head>
<body>
    <div class="header">
        <h1>
            <!--空白を作るためにspanタグを使用 mgr-?px は?px分、右に空白を作るという意味-->
            <span class="mgr-60">Date</span>        
            <span class="mgr-100">Check</span> 
            Things to do 
            <!--タスク追加ページへのリンクを追加-->
            <span><%= link_to("タスク追加","/home/new") %> </span>
        </h1> 
    </div>

    <div class="main">
        <div class="date-container">
            <% @tasks.each do|task| %>
                <% date = task.created_at %>
                <%= date.strftime("%Y-%m-%d") %>
            <% end %>
        </div>

        <div class="check-container">
        <% @tasks.each do|task| %>
            <div class="task-index">
            
            <% if Clear.find_by(task_id: task.id) %>
            <%= link_to("/clear/#{task.id}/notClear") do %>
                
                <i class="fa fa-solid fa-check "></i>
            <% end %>
            <% else %>
                <%= link_to ("/clear/#{task.id}/clear") do %>
                    <!-- 透明アイコンの表示 -->
                    <i class="fa fa-solid fa-check rgb-0"></i>
                <% end %>
            <% end %>
            </div>
        <% end %>
        </div>
        
        <div class="things-container">
            <% @tasks.each do|task| %>
                <div class="task-index">
                <% if Clear.find_by(task_id: task.id) %>
                    <%= link_to("クリア済み","/clear/#{task.id}/notClear") %>
                <% else %>
                    <%= link_to("クリア！","/clear/#{task.id}/clear",{method: "post"}) %>
                <% end %>
                    <%= task.id %>
                    <%= task.content %>
                    <%= link_to("削除","/home/#{task.id}/destroy",{method: "post"}) %>
                </div>
            <% end %>
        </div>
    </div>
    
    <div class="footer">
        
    </div>
</body>
</html>
